<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment>Comment</comment>
<entry key="SRTM_DIR">D:\Geo\SRTM1\Region_07</entry>
<entry key="SRTM_TILE_DIR">D:\Geo\SRTM3</entry>
<entry key="POV_DIR">C:\Users\pscha\Documents\NetBeansProjects\POV_RAY\blender</entry>
<entry key="OBJ_DIR">C:\Users\pscha\Documents</entry>
</properties>
